body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.bold{
	font-weight: bold;
}

.button {
  font: bold 11px Arial;
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  display: inline-block;
}